
a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #6c79db;
    height: 12vh;
}

.menu-list {
    list-style: none;
    display: flex;
}

.menu-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.image-logo {
    display: flex;
	justify-content: center;
}

.image-up{
    width: 300px;
}

